body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.cv-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.section {
  margin-top: 30px;
}

h2 {
  color: #007bff;
}

.job,
.education {
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}
